<nav class="header__inline-menu color-{{ section.settings.menu_color_scheme }} gradient">
    <ul role="list">
       {%- for link in section.settings.menu.links -%}

         {%- assign submenu = false -%}
         {%- assign megamenu = false -%}
   
            {%- if link.links != blank -%}
           {%- assign submenu = true -%}
           {%- endif -%}

        {%- for block in section.blocks -%}
         {%- case block.type -%}
       
         {%- when 'megamenu_menu_list' -%}
           {% assign link_title = block.settings.link_title | handleize %}
           {% assign menu_title = link.title | handleize %}
         {%- if link_title == menu_title -%}
         {%- assign megamenu = true -%}
         {%- endif -%}

         {%- endcase -%}
         {%- endfor -%}


            {%- if megamenu -%}

               <li class="has-dropdown has-mega-menu">
                  <a href="{{ link.url }}"  class="menu-link-item {% if link.current %} active {% endif %}" >
                    <span class="link-text">{{ link.title | escape }} </span>
                  
                  <span class="arrow-down"> {{- 'icon-caret.svg' | inline_asset_content -}} </span></a>
                 
                  {% assign count = 1 %}
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                 
                    {%- when 'megamenu_menu_list' -%}
                      {% assign link_title = block.settings.link_title | handleize %}
                      {% assign menu_title = link.title | handleize %}
                    {%- if link_title == menu_title  -%}
                      {% if count == 1 %}
                        {%- render 'megamenu-menu-list', block: block , link: link -%}
                      {% endif %}
                       {% assign count = count | plus: 1 %}
                    {%- endif -%}
      
                    {%- endcase -%}
                    {%- endfor -%}

              </li>

            {% elsif submenu %}

            <li class="has-dropdown">
               <a href="{{ link.url }}" class="menu-link-item {% if link.current %} active {% endif %}"> 
                        <span class="link-text">{{ link.title | escape }} </span>
               
               <span class="arrow-down">    {{- 'icon-caret.svg' | inline_asset_content -}}</span></a>

               <div class="header__inline-submenu--wrapper"> 
               <ul class="header__inline-submenu color-{{ section.settings.menu_color_scheme }} gradient" role="list">
                  {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                     <li class="menu-item-has-children">
                        <a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }} 
                             <span class="sub-arrow-down"> 
                               {{- 'icon-caret.svg' | inline_asset_content -}}
                            </span></a>
                               <div class="header__inline-nested--wrapper">  
                        <ul class="header__inline-nested-menu" role="list">
                           {%- for grandchild in childlink.links -%}
                           <li><a href="{{ grandchild.url }}" class="link-animation">{{ grandchild.title | escape }}</a></li>
                        {%- endfor -%}
                        </ul>
                        </div>
                     </li>
                     {%- else -%}
                     <li><a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }}</a></li>
                  {%- endif -%}
               {%- endfor -%}
               </ul>
               </div>

            </li>

            {%- else -%}
              <li><a href="{{ link.url }}" class="menu-link-item {% if link.current %} active {% endif %}" >
            
                 <span class="link-text">{{ link.title | escape }} </span>
                </a></li>
            {%- endif -%} 
      {%- endfor -%}
    </ul>
 </nav>