<nav class="header__inline-menu color-{{ section.settings.menu_color_scheme }} gradient">
    <ul class="list-menu--inline" role="list">
       {%- for link in section.settings.menu.links -%}

         {%- assign submenu = false -%}
         {%- assign megamenu = false -%}
         {%- assign expands = false -%}
            {%- if link.links != blank -%}
           {%- assign submenu = true -%}
           {%- assign expands = true -%}
           {%- endif -%}


     

        {%- for block in section.blocks -%}
       
           {% assign link_title = block.settings.link_title | handleize %}
           {% assign menu_title = link.title | handleize %}

         {%- if link_title == menu_title -%}
              {%- assign megamenu = true -%}
           {%- assign expands = true -%}
         {%- endif -%}
    
         {%- endfor -%}




          <li class="{% if expands %} has-dropdown {% endif %} {% if megamenu %} has-mega-menu {% endif %}">
               <a href="{{ link.url }}" class="menu-link-item {% if link.current %} active {% endif %}" >
                 <span class="link-text">{{ link.title | escape }} </span>
                 {% if expands %} 
                  <span class="arrow-down"> {{- 'icon-caret.svg' | inline_asset_content -}}</span>
                   {% endif %} 
                </a>

                     {% if megamenu %}


                        
                         {%- render 'megamenu-menu-list', link: link -%}



                      {% elsif submenu %}

                           <div class="header__inline-submenu--wrapper"> 
                                 <ul class="header__inline-submenu color-{{ section.settings.mega_color_scheme }} gradient" role="list">
                                    {%- for childlink in link.links -%}
                                    {%- if childlink.links != blank -%}
                                       <li class="menu-item-has-children">
                                          <a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }} 
                                             <span class="sub-arrow-down"> 
                                                {{- 'icon-caret.svg' | inline_asset_content -}}
                                             </span></a>
                                                <div class="header__inline-nested--wrapper">  
                                          <ul class="header__inline-nested-menu" role="list">
                                             {%- for grandchild in childlink.links -%}
                                             <li><a href="{{ grandchild.url }}" class="link-animation">{{ grandchild.title | escape }}</a></li>
                                          {%- endfor -%}
                                          </ul>
                                          </div>
                                       </li>
                                       {%- else -%}
                                       <li><a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }}</a></li>
                                    {%- endif -%}
                                 {%- endfor -%}
                                 </ul>
                                 </div>


                      {% else %}


                      {% endif %}


          </li>




            {% comment %} {%- if megamenu -%}

               <li class="has-dropdown has-mega-menu">
                  <a href="{{ link.url }}"  class="menu-link-item {% if link.current %} active {% endif %}" >
                    <span class="link-text">{{ link.title | escape }} </span>
                  
                  <span class="arrow-down"> {{- 'icon-caret.svg' | inline_asset_content -}} </span></a>
                 
                  {% assign count = 1 %}
                  {%- for block in section.blocks -%}
                    {%- case block.type -%}
                 
                    {%- when 'menu_block' -%}
                      {% assign link_title = block.settings.link_title | handleize %}
                      {% assign menu_title = link.title | handleize %}
                    {%- if link_title == menu_title  -%}
                      {% if count == 1 %}
                        {%- render 'megamenu-menu-list', block: block , link: link -%}
                      {% endif %}
                       {% assign count = count | plus: 1 %}
                    {%- endif -%}
      
                    {%- endcase -%}
                    {%- endfor -%}

              </li>

            {% elsif submenu %}

            <li class="has-dropdown">
               <a href="{{ link.url }}" class="menu-link-item {% if link.current %} active {% endif %}"> 
                        <span class="link-text">{{ link.title | escape }} </span>
               
               <span class="arrow-down"> {{- 'icon-caret.svg' | inline_asset_content -}}</span>
               
               
               </a>

               <div class="header__inline-submenu--wrapper"> 
               <ul class="header__inline-submenu color-{{ section.settings.mega_color_scheme }} gradient" role="list">
                  {%- for childlink in link.links -%}
                  {%- if childlink.links != blank -%}
                     <li class="menu-item-has-children">
                        <a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }} 
                             <span class="sub-arrow-down"> 
                               {{- 'icon-caret.svg' | inline_asset_content -}}
                            </span></a>
                               <div class="header__inline-nested--wrapper">  
                        <ul class="header__inline-nested-menu" role="list">
                           {%- for grandchild in childlink.links -%}
                           <li><a href="{{ grandchild.url }}" class="link-animation">{{ grandchild.title | escape }}</a></li>
                        {%- endfor -%}
                        </ul>
                        </div>
                     </li>
                     {%- else -%}
                     <li><a href="{{ childlink.url }}" class="link-animation">{{ childlink.title | escape }}</a></li>
                  {%- endif -%}
               {%- endfor -%}
               </ul>
               </div>

            </li>

            {%- else -%}
              <li>
               
                <a href="{{ link.url }}" class="menu-link-item {% if link.current %} active {% endif %}" >
                 <span class="link-text">{{ link.title | escape }} </span>
                </a>
                
                </li>
            {%- endif -%}  {% endcomment %}
      {%- endfor -%}
    </ul>

    {% if section.settings.falsh_link_text != blank %}
  <a 
    href="{{ section.settings.falsh_link }}"
    class="flash-link"
  >
  <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_237_14480)">
<path d="M11.6948 6.86109L5.56983 13.4236C5.50492 13.4929 5.41924 13.5391 5.32573 13.5554C5.23221 13.5718 5.13592 13.5572 5.0514 13.514C4.96688 13.4708 4.89871 13.4012 4.85718 13.3159C4.81565 13.2305 4.803 13.134 4.82116 13.0408L5.62287 9.03055L2.47123 7.84711C2.40355 7.82179 2.34319 7.7801 2.29555 7.72576C2.2479 7.67143 2.21447 7.60613 2.19822 7.53572C2.18197 7.4653 2.18341 7.39196 2.20242 7.32224C2.22144 7.25252 2.25742 7.18859 2.30717 7.13617L8.43217 0.573673C8.49708 0.504404 8.58276 0.458125 8.67627 0.44182C8.76979 0.425515 8.86607 0.44007 8.95059 0.483287C9.03511 0.526504 9.10328 0.596038 9.14482 0.681398C9.18635 0.766757 9.199 0.86331 9.18084 0.956486L8.37694 4.9711L11.5286 6.15289C11.5958 6.17838 11.6556 6.22003 11.7029 6.27415C11.7502 6.32827 11.7834 6.3932 11.7996 6.46321C11.8158 6.53322 11.8146 6.60614 11.7959 6.67553C11.7772 6.74493 11.7418 6.80866 11.6926 6.86109H11.6948Z" fill="white"/>
</g>
<defs>
<clipPath id="clip0_237_14480">
<rect width="14" height="14" fill="CurrentColor"/>
</clipPath>
</defs>
</svg>

    {{ section.settings.falsh_link_text }}
  </a>
{% endif %}

 </nav>