{% comment %}
  Renders share button.
  Accepts:
  - block: {Object} passes in the block information.
  - share_link: {String} url to be added to the input the user will get/copy.

  Usage:
  {% render 'share-button',
    block: block,
    share_link: share_url
  %}
{% endcomment %}
<script src="{{ 'share.js' | asset_url }}" defer="defer"></script>

<share-button id="Share-{{ section.id }}" class="share-button quick-add-hidden" {{ block.shopify_attributes }}>
  <button class="share-button__button hidden">
    {{ block.settings.share_label | escape }}
    <span class="svg-icon">  <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 7.40778V14.5186C14 14.9115 13.8397 15.2883 13.5543 15.5661C13.2689 15.8439 12.8819 16 12.4783 16H1.52174C1.11815 16 0.731089 15.8439 0.445707 15.5661C0.160326 15.2883 0 14.9115 0 14.5186V7.40778C0 7.01489 0.160326 6.63808 0.445707 6.36026C0.731089 6.08244 1.11815 5.92637 1.52174 5.92637H3.04348C3.28563 5.92637 3.51787 6.02001 3.6891 6.1867C3.86033 6.3534 3.95652 6.57948 3.95652 6.81522C3.95652 7.05095 3.86033 7.27704 3.6891 7.44373C3.51787 7.61042 3.28563 7.70407 3.04348 7.70407H1.82609V14.2223H12.1739V7.70407H10.9565C10.7144 7.70407 10.4821 7.61042 10.3109 7.44373C10.1397 7.27704 10.0435 7.05095 10.0435 6.81522C10.0435 6.57948 10.1397 6.3534 10.3109 6.1867C10.4821 6.02001 10.7144 5.92637 10.9565 5.92637H12.4783C12.8819 5.92637 13.2689 6.08244 13.5543 6.36026C13.8397 6.63808 14 7.01489 14 7.40778ZM4.6025 4.48125L6.08696 3.0376V9.18548C6.08696 9.42122 6.18315 9.6473 6.35438 9.81399C6.52561 9.98069 6.75785 10.0743 7 10.0743C7.24215 10.0743 7.47439 9.98069 7.64562 9.81399C7.81685 9.6473 7.91304 9.42122 7.91304 9.18548V3.0376L9.3975 4.48347C9.48243 4.56615 9.58326 4.63173 9.69423 4.67648C9.80519 4.72123 9.92413 4.74426 10.0442 4.74426C10.1643 4.74426 10.2833 4.72123 10.3943 4.67648C10.5052 4.63173 10.606 4.56615 10.691 4.48347C10.7759 4.40079 10.8433 4.30263 10.8892 4.1946C10.9352 4.08658 10.9589 3.97079 10.9589 3.85386C10.9589 3.73694 10.9352 3.62115 10.8892 3.51313C10.8433 3.4051 10.7759 3.30694 10.691 3.22426L7.6475 0.26143C7.56267 0.178566 7.46188 0.112817 7.3509 0.0679552C7.23992 0.0230931 7.12093 0 7.00076 0C6.88059 0 6.7616 0.0230931 6.65062 0.0679552C6.53964 0.112817 6.43885 0.178566 6.35402 0.26143L3.31054 3.22426C3.22561 3.30694 3.15824 3.4051 3.11228 3.51313C3.06631 3.62115 3.04265 3.73694 3.04265 3.85386C3.04265 4.09001 3.13902 4.31649 3.31054 4.48347C3.48207 4.65045 3.71471 4.74426 3.95728 4.74426C4.19986 4.74426 4.4325 4.65045 4.60402 4.48347L4.6025 4.48125Z" fill="#0E1B4D"/>
            </svg> </span>
  </button>
  <details id="Details-{{ block.id }}-{{ section.id }}">
    <summary class="share-button__button">
      <span class="svg-icon">
         <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 7.40778V14.5186C14 14.9115 13.8397 15.2883 13.5543 15.5661C13.2689 15.8439 12.8819 16 12.4783 16H1.52174C1.11815 16 0.731089 15.8439 0.445707 15.5661C0.160326 15.2883 0 14.9115 0 14.5186V7.40778C0 7.01489 0.160326 6.63808 0.445707 6.36026C0.731089 6.08244 1.11815 5.92637 1.52174 5.92637H3.04348C3.28563 5.92637 3.51787 6.02001 3.6891 6.1867C3.86033 6.3534 3.95652 6.57948 3.95652 6.81522C3.95652 7.05095 3.86033 7.27704 3.6891 7.44373C3.51787 7.61042 3.28563 7.70407 3.04348 7.70407H1.82609V14.2223H12.1739V7.70407H10.9565C10.7144 7.70407 10.4821 7.61042 10.3109 7.44373C10.1397 7.27704 10.0435 7.05095 10.0435 6.81522C10.0435 6.57948 10.1397 6.3534 10.3109 6.1867C10.4821 6.02001 10.7144 5.92637 10.9565 5.92637H12.4783C12.8819 5.92637 13.2689 6.08244 13.5543 6.36026C13.8397 6.63808 14 7.01489 14 7.40778ZM4.6025 4.48125L6.08696 3.0376V9.18548C6.08696 9.42122 6.18315 9.6473 6.35438 9.81399C6.52561 9.98069 6.75785 10.0743 7 10.0743C7.24215 10.0743 7.47439 9.98069 7.64562 9.81399C7.81685 9.6473 7.91304 9.42122 7.91304 9.18548V3.0376L9.3975 4.48347C9.48243 4.56615 9.58326 4.63173 9.69423 4.67648C9.80519 4.72123 9.92413 4.74426 10.0442 4.74426C10.1643 4.74426 10.2833 4.72123 10.3943 4.67648C10.5052 4.63173 10.606 4.56615 10.691 4.48347C10.7759 4.40079 10.8433 4.30263 10.8892 4.1946C10.9352 4.08658 10.9589 3.97079 10.9589 3.85386C10.9589 3.73694 10.9352 3.62115 10.8892 3.51313C10.8433 3.4051 10.7759 3.30694 10.691 3.22426L7.6475 0.26143C7.56267 0.178566 7.46188 0.112817 7.3509 0.0679552C7.23992 0.0230931 7.12093 0 7.00076 0C6.88059 0 6.7616 0.0230931 6.65062 0.0679552C6.53964 0.112817 6.43885 0.178566 6.35402 0.26143L3.31054 3.22426C3.22561 3.30694 3.15824 3.4051 3.11228 3.51313C3.06631 3.62115 3.04265 3.73694 3.04265 3.85386C3.04265 4.09001 3.13902 4.31649 3.31054 4.48347C3.48207 4.65045 3.71471 4.74426 3.95728 4.74426C4.19986 4.74426 4.4325 4.65045 4.60402 4.48347L4.6025 4.48125Z" fill="#0E1B4D"/>
            </svg>
      </span>
      {{ block.settings.share_label | escape }}
    </summary>
    <div class="share-button__fallback motion-reduce">
      <div class="field">
        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
        <input
          type="text"
          class="field__input"
          id="ShareUrl-{{ section.id }}"
          value="{{ share_link }}"
          placeholder="{{ 'general.share.share_url' | t }}"
          onclick="this.select();"
          readonly
        >
        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
      </div>
      <button class="share-button__close hidden">
        <span class="svg-wrapper">
          {{- 'icon-close.svg' | inline_asset_content -}}
        </span>
        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
      </button>
      <button class="share-button__copy">
        <span class="svg-icon">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 7.40778V14.5186C14 14.9115 13.8397 15.2883 13.5543 15.5661C13.2689 15.8439 12.8819 16 12.4783 16H1.52174C1.11815 16 0.731089 15.8439 0.445707 15.5661C0.160326 15.2883 0 14.9115 0 14.5186V7.40778C0 7.01489 0.160326 6.63808 0.445707 6.36026C0.731089 6.08244 1.11815 5.92637 1.52174 5.92637H3.04348C3.28563 5.92637 3.51787 6.02001 3.6891 6.1867C3.86033 6.3534 3.95652 6.57948 3.95652 6.81522C3.95652 7.05095 3.86033 7.27704 3.6891 7.44373C3.51787 7.61042 3.28563 7.70407 3.04348 7.70407H1.82609V14.2223H12.1739V7.70407H10.9565C10.7144 7.70407 10.4821 7.61042 10.3109 7.44373C10.1397 7.27704 10.0435 7.05095 10.0435 6.81522C10.0435 6.57948 10.1397 6.3534 10.3109 6.1867C10.4821 6.02001 10.7144 5.92637 10.9565 5.92637H12.4783C12.8819 5.92637 13.2689 6.08244 13.5543 6.36026C13.8397 6.63808 14 7.01489 14 7.40778ZM4.6025 4.48125L6.08696 3.0376V9.18548C6.08696 9.42122 6.18315 9.6473 6.35438 9.81399C6.52561 9.98069 6.75785 10.0743 7 10.0743C7.24215 10.0743 7.47439 9.98069 7.64562 9.81399C7.81685 9.6473 7.91304 9.42122 7.91304 9.18548V3.0376L9.3975 4.48347C9.48243 4.56615 9.58326 4.63173 9.69423 4.67648C9.80519 4.72123 9.92413 4.74426 10.0442 4.74426C10.1643 4.74426 10.2833 4.72123 10.3943 4.67648C10.5052 4.63173 10.606 4.56615 10.691 4.48347C10.7759 4.40079 10.8433 4.30263 10.8892 4.1946C10.9352 4.08658 10.9589 3.97079 10.9589 3.85386C10.9589 3.73694 10.9352 3.62115 10.8892 3.51313C10.8433 3.4051 10.7759 3.30694 10.691 3.22426L7.6475 0.26143C7.56267 0.178566 7.46188 0.112817 7.3509 0.0679552C7.23992 0.0230931 7.12093 0 7.00076 0C6.88059 0 6.7616 0.0230931 6.65062 0.0679552C6.53964 0.112817 6.43885 0.178566 6.35402 0.26143L3.31054 3.22426C3.22561 3.30694 3.15824 3.4051 3.11228 3.51313C3.06631 3.62115 3.04265 3.73694 3.04265 3.85386C3.04265 4.09001 3.13902 4.31649 3.31054 4.48347C3.48207 4.65045 3.71471 4.74426 3.95728 4.74426C4.19986 4.74426 4.4325 4.65045 4.60402 4.48347L4.6025 4.48125Z" fill="#0E1B4D"/>
            </svg>
         </span>
        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
      </button>


    </div>
  </details>
</share-button>
