{{ 'section-collage-grid-banner.css' | asset_url | stylesheet_tag }}

<script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    @media screen and (min-width: 992px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_tab }}px;
        padding-bottom: {{ section.settings.padding_bottom_tab }}px;
      }
  }

    @media screen and (min-width: 1024px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}


{%- if section.settings.enable_divider -%}
  <div class="{{ section.settings.page_width }}"> 
  <div class="section-divider" style="--divider-color: {{ section.settings.divider_color }}"></div>
  </div>
{%- endif -%}

<div
  id="{{ section.settings.them_section_id |  default:"collage-section" }}"
  class="collage-grid-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="{{ section.settings.page_width }}">
    {%- unless section.settings.heading == blank -%}
      <div class="row">
        <div class="section--header text-center col-12 m-auto">
            {% if section.settings.pre_text != blank %}
          <p class="section--pre-text">{{ section.settings.pre_text }}</p>
        {% endif %}
          <h2 class="section--title inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
        </div>
      </div>
    {%- endunless -%}

    <div class="card-grid">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'banner_block_product' -%}
            {% assign product = block.settings.select_product %}

            <div class="banner-card banner-card__product" {{ block.shopify_attributes }}>
              <div class="banner-card__image">
                {% if block.settings.image != blank %}
                  {% render 'responsive-img' with image: block.settings.image %}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>

              {%- if product != blank -%}
                <div class="banner-card__content color-{{ block.settings.color_scheme }}" style=" --color-accent: {{ block.settings.color_accent.red }},{{ block.settings.color_accent.green }},{{ block.settings.color_accent.blue }};">
                  <div class="banner-card__inner">
                    <h3 class="banner-card__product-title">{{ product.title }}</h3>

                    {% render 'price',
                      product: product,
                      price_class: 'banner-card__product__price',
                      show_compare_at_price: true
                    %}

                    {% render 'add-to-cart',
                      product: product,
                      section_id: section.id,
                      class: 'button button--primary'
                    %}
                  </div>

                  {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                    {%- assign savings = product.selected_or_first_available_variant.compare_at_price
                      | minus: product.selected_or_first_available_variant.price
                      | times: 100.0
                      | divided_by: product.selected_or_first_available_variant.compare_at_price
                      | round
                      | append: '%'
                    -%}

                    <div class="save-price--badge-top">
                      <svg width="81" height="82" viewBox="0 0 81 82" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0.277588 40.9209C0.277588 18.8295 18.1862 0.920898 40.2776 0.920898C62.369 0.920898 80.2776 18.8295 80.2776 40.9209C80.2776 63.0123 62.369 80.9209 40.2776 80.9209C18.1862 80.9209 0.277588 63.0123 0.277588 40.9209Z" fill="#FFC400"/>
                        <path d="M42.7302 0.00326467C44.1757 0.0560539 46.0515 0.304342 47.4618 0.599377C47.9027 0.690772 47.6689 0.702249 47.9716 0.769739C48.5603 0.903043 49.123 0.996526 49.6999 1.15778C49.891 1.21178 49.6316 1.2363 49.8319 1.29123C50.928 1.59343 51.9697 1.86708 53.0605 2.24544C58.4199 4.11246 63.3118 7.00078 67.5278 10.8721C68.9229 12.1456 70.4493 13.8594 71.6983 15.3508C71.8446 15.5245 71.8165 15.3731 71.8484 15.4028C72.3463 15.8747 72.0885 15.7915 72.3453 16.1525C73.3615 17.5878 74.4402 19.2123 75.3085 20.6612C75.6764 21.2787 75.4477 20.5793 75.7318 21.2517C75.7513 21.2984 75.5943 21.1769 75.6827 21.3533C75.8852 21.7529 76.29 22.4951 76.4382 22.8088C76.7245 23.4123 76.7722 23.5111 77.0364 24.0835C77.3957 24.8685 77.7559 25.8274 78.0976 26.6876C78.1707 26.8714 78.1543 26.5976 78.2772 26.8891C78.4017 27.1799 78.6698 27.9702 78.7379 28.2448C78.8077 28.5187 78.7102 28.4241 78.7119 28.4759C78.7254 28.9027 79.1591 29.7729 79.1951 29.8939C79.8754 32.0562 80.1524 33.9959 80.4073 36.0982C80.5988 37.687 80.7258 39.3886 80.72 40.9209C80.72 40.9209 80.72 40.9209 80.72 40.9209C80.72 40.9336 80.72 40.9463 80.7199 40.959C80.7085 42.7944 80.564 44.3316 80.3499 46.097C80.3266 46.2829 80.4485 46.0772 80.4197 46.3045C80.1099 48.7207 79.5624 51.0923 78.7563 53.3773C78.675 53.6066 78.6932 53.2832 78.6071 53.5102C78.0956 54.9061 77.0539 56.9956 76.9967 57.9408C76.5626 58.8487 75.9875 59.9296 75.481 60.6768C75.154 61.1575 75.3561 60.6253 75.0332 61.2588C74.9594 61.4011 75.1334 61.2617 75.017 61.4723C74.5255 62.3599 73.9023 63.2759 73.3577 64.1204C73.2471 64.2922 73.3368 64.2875 73.3138 64.3421C73.1169 64.8016 72.4925 65.3497 72.3745 65.4806C71.4815 66.488 70.8777 67.2582 70.0334 68.1811C69.8365 68.3944 70.1392 68.2063 69.9514 68.4138C68.9755 69.4881 67.8856 70.5303 66.786 71.4293C66.5411 71.6288 66.7076 71.3776 66.5878 71.4695C66.0596 71.8722 66.0436 72.0839 65.5263 72.4592C65.417 72.5379 65.4329 72.4364 65.409 72.4457C65.0358 72.5909 64.8764 72.9268 64.7998 72.9901C63.8358 73.7872 63.0788 74.1018 62.0867 74.777C61.9672 74.8576 62.2884 74.7558 61.949 74.9776C59.6866 76.4545 57.1022 77.7229 54.5799 78.6007C54.1872 78.7372 54.4417 78.5708 54.4143 78.5725C53.9714 78.6031 53.7727 78.8532 53.6467 78.9045C52.654 79.3035 51.6604 79.4526 51.0151 79.8398C47.4954 80.751 43.8916 81.2897 40.2776 81.2224C40.2776 81.2224 40.2776 81.2224 40.2776 81.2224C39.383 81.2058 38.5078 81.153 37.6218 81.0594C37.565 81.0536 37.6723 80.9767 37.5593 80.9654C36.2013 80.8164 36.4594 80.9626 35.535 81.0228C35.3013 81.0375 34.638 80.7553 34.5807 80.7316C34.3676 80.6486 34.6138 80.558 34.5415 80.5375C33.9476 80.3691 33.9794 80.7947 33.1525 80.6517C33.1268 80.6465 33.2484 80.591 33.1805 80.5713C32.97 80.5098 32.7522 80.4999 32.5481 80.4336C32.0826 80.2796 31.9523 80.0512 31.2031 80C31.1083 79.9924 31.1945 80.2577 30.4714 80.0687C30.1836 79.9981 28.9052 79.6513 28.5593 79.5242C28.2113 79.402 28.4755 79.404 28.4512 79.3932C27.5333 79.001 27.9054 79.073 27.4823 78.7778C27.063 78.4796 27.0783 78.8542 26.8741 78.8243C26.6697 78.7953 26.0148 78.4654 25.8595 78.373C25.7035 78.2821 25.928 78.3176 25.7862 78.2454C24.8507 77.7614 25.2935 78.2368 24.9508 78.1583C24.1422 77.9665 23.6605 77.4657 23.0002 77.1228C22.8211 77.0292 22.9442 77.1541 22.7792 77.0806C22.1266 76.7855 21.7821 76.5192 21.0335 76.1971C20.9112 76.1452 20.2577 75.9603 19.9485 75.6441C19.905 75.5993 20.0849 75.6304 19.8305 75.4633C19.4507 75.2148 18.7624 74.7701 18.3435 74.5196C18.0336 74.3349 18.3196 74.6521 17.9594 74.373C17.8 74.2484 18.145 74.4049 17.8435 74.1748C17.5419 73.9474 16.7545 73.3935 16.4607 73.175C16.166 72.9588 16.2781 73.1429 16.2511 73.1297C16.0879 73.0489 15.5055 72.6501 15.4574 72.6104C12.9801 70.6725 11.0094 68.5279 9.05211 66.1926C8.89897 66.0085 8.93271 66.1861 8.90866 66.1585C8.36873 65.5384 8.94825 65.9043 8.65607 65.4081C8.57042 65.5793 8.38524 65.2952 8.02544 64.8434C7.85251 64.6255 7.88865 64.7869 7.86801 64.7706C7.54045 64.4979 7.48091 64.185 7.46026 64.1095C7.38328 63.8296 7.11837 63.6516 7.0684 63.4601C7.01887 63.2697 7.33757 63.5681 7.02872 63.1118C6.89113 63.0174 6.98436 63.4493 6.7293 63.1138C5.74237 61.8558 4.41464 59.1886 3.90758 58.0191C3.3827 56.8599 3.22084 56.4792 2.9634 55.7846C2.5154 54.5215 2.58123 55.0204 2.24685 54.2553C1.92169 53.4819 2.33589 53.7717 2.35702 53.638C2.38007 53.5067 2.27773 53.4058 2.26592 53.2561C2.25451 53.1071 2.39206 53.393 2.29999 53.0639C2.20522 52.7349 1.83408 51.8758 1.73916 51.7746C1.53553 51.5643 1.5012 52.0145 1.31597 51.1184C1.30573 51.0668 1.42389 51.2119 1.38095 51.0156C1.04044 49.4652 0.727186 47.8384 0.571715 46.2626C0.550607 46.0459 0.661763 46.2275 0.650642 46.1015C0.54682 44.7869 0.460428 45.2691 0.22812 44.5649C0.4598 44.7061 0.544204 44.3004 0.484217 43.3031C0.451689 42.701 0.364478 42.813 0.282239 42.4269C0.257295 42.3112 0.309838 41.8842 0.264431 41.8079C0.116362 41.5555 -0.0460494 41.963 0.0122847 40.9209C0.0123114 40.9205 0.0123381 40.92 0.0123648 40.9196C0.0134487 40.9035 0.0240003 40.9111 0.0374228 40.9209C0.0374228 40.9209 0.0374228 40.9209 0.0374228 40.9209C0.0550808 40.9337 0.0777086 40.9502 0.0902645 40.9209C0.0902645 40.9209 0.0902645 40.9209 0.0902645 40.9209C0.0952432 40.9093 0.0986421 40.8905 0.0995657 40.8615C0.138905 39.8423 -0.0110518 39.7206 0.025668 38.6199C0.0539924 37.7524 0.290559 36.2348 0.448267 35.2679C0.683773 35.3214 0.763649 34.4046 0.666514 34.005C0.781682 33.3788 0.906058 32.7059 1.06367 32.1089C1.11783 31.9041 1.15579 32.0553 1.16905 32.0309C1.37523 31.6598 1.28301 31.3557 1.30977 31.2208C1.61148 29.7608 2.08459 28.6391 2.44928 27.2652C2.46249 27.2167 2.33069 27.0816 2.57962 26.7672C2.59631 26.7475 2.50251 27.2133 2.7441 26.5901C2.98509 25.9658 3.54891 24.8412 3.87303 23.9715C3.9496 23.7613 4.07174 23.1877 4.37388 22.8284C4.41422 22.7808 4.42736 22.8618 4.49089 22.7959C4.69522 22.5834 4.61504 22.3674 4.89841 22.1419C5.18208 21.9174 5.60062 21.3655 5.98911 20.5188C6.00179 20.492 5.99804 20.234 6.15376 19.9848C6.40121 19.5873 6.78342 19.0442 7.05525 18.6398C7.18533 18.446 7.03242 18.5229 7.05382 18.4884C7.9035 17.1609 8.63889 16.3063 9.74694 15.0397C9.94927 14.8076 10.4485 14.0625 10.9241 13.6866C11.4471 13.2781 11.2745 14.0379 12.2498 12.9047C12.6451 12.4549 12.8396 11.5349 13.8392 11.0103C15.384 9.55866 17.0306 8.48694 18.7601 7.26185C18.8378 7.20681 19.0152 6.92165 19.2083 6.8048C19.4949 6.63159 19.6869 6.59585 19.8937 6.47812C20.7622 5.9876 21.5373 5.49982 22.4032 5.07663C22.7324 4.91704 22.6488 5.03584 23.0425 4.85037C23.4359 4.66731 23.6602 4.4598 24.2191 4.26238C24.6426 4.11424 25.1237 4.11629 25.6777 3.92081C25.6299 3.73959 26.0073 3.58996 26.6692 3.29732C26.7962 3.2413 26.6344 3.23051 26.6934 3.20085C26.9336 3.07872 27.1851 3.04812 27.414 2.93206C27.4698 2.90394 27.4522 2.84252 27.4969 2.81618C27.876 2.58797 28.5998 2.51449 28.7221 2.50512C29.195 2.46296 29.3814 2.32462 29.7367 2.26607C30.0912 2.20914 29.5881 2.39285 29.9964 2.30688C30.8391 2.1294 31.9175 1.87301 32.7748 1.71514C33.1172 1.65154 32.8681 1.61168 32.9167 1.60062C33.6232 1.44627 34.3617 1.42628 34.7332 1.20424C35.2881 1.574 35.1573 1.09701 36.2015 1.07416C36.2829 1.07325 36.4062 1.26899 36.0995 1.33104C35.7924 1.39334 35.3153 1.38325 34.8946 1.48845C34.7937 1.51218 34.2472 1.78823 34.1705 1.81313C33.5698 2.00089 33.4318 1.71425 33.3957 1.70239C32.992 1.58427 32.3296 1.92747 32.1493 1.98121C31.3174 2.22227 30.6033 2.35189 29.9183 2.58504C29.4719 2.73829 29.4839 2.94699 29.1304 3.04333C27.9614 3.37252 27.4565 3.24433 26.4596 3.87139C26.2468 4.00874 26.5534 4.12337 25.6695 4.2834C25.614 4.29269 24.9464 4.39137 24.6369 4.63676C24.5982 4.66736 24.6253 4.72613 24.5699 4.75611C24.199 4.95642 23.9225 5.02441 23.5191 5.24085C23.1169 5.45706 22.6386 5.73324 22.1663 5.95398C21.8813 6.08656 21.4695 6.17165 21.3223 6.21902C20.9057 6.34967 20.5776 6.6986 20.298 6.7434C20.0152 6.79024 20.3866 6.3866 19.7469 6.68962C19.8111 6.84719 19.8491 7.02576 19.9012 7.19184C18.5922 7.97792 17.3205 8.78583 16.112 9.73243C15.9626 9.85007 16.1714 9.80186 16.0133 9.92991C15.3481 10.4709 14.7303 10.9024 14.0816 11.5137C13.58 11.9874 13.0953 12.5742 12.6038 13.0976C12.1549 13.2689 11.456 14.085 10.9278 14.6537C10.742 14.8526 10.7159 14.8052 10.5753 14.9398C10.0487 15.452 10.403 15.3043 10.2931 15.4734C9.82995 16.2029 9.48402 16.0136 8.86545 16.8247C8.83132 16.8675 8.59936 17.5163 8.55794 17.5965C8.2869 18.1084 8.44375 17.6305 8.22064 17.9129C7.81618 18.4305 7.51436 18.7807 7.14369 19.4592C7.03538 19.6576 6.85495 20.1791 6.5451 20.5008C6.50432 20.5431 6.46274 20.4808 6.43544 20.5183C5.94851 21.2031 6.12553 21.3324 5.95425 21.7818C5.78322 22.2318 5.31266 22.8115 5.20689 22.9273C4.92999 23.227 5.30283 22.6378 5.30427 22.6147C5.30769 22.3337 5.07442 22.8204 4.88024 23.1851C4.66588 23.1441 4.42116 23.6716 4.68083 23.5643C4.70927 23.5517 4.83415 23.2548 4.88024 23.1851C4.90004 23.6019 4.64874 24.1744 4.18781 24.7341C3.97388 24.9976 3.99647 24.6686 3.6403 25.6039C3.48277 26.0288 3.68223 25.9216 3.57009 26.3055C3.31427 27.1825 2.7935 28.2468 2.53551 29.1544C2.44252 29.4813 2.61515 29.1883 2.55481 29.4123C2.39661 30.0062 2.19277 30.5147 2.06795 31.1234C2.05692 31.1782 2.17034 31.0665 2.12423 31.2523C1.78043 32.6642 1.48116 33.9012 1.26563 35.4085C1.15817 36.1356 1.06658 37.4485 1.0108 38.2071C0.942048 39.0605 0.854892 40.0229 0.82677 40.9209C0.810742 41.416 0.811698 41.8825 0.835735 42.2836C0.88228 43.0178 0.960564 42.8506 1.03277 43.1637C1.17136 43.7657 1.07384 44.8467 1.06148 44.9952C1.05984 44.9993 0.980833 44.3729 0.970443 44.7124C0.901381 44.9162 1.06043 44.988 1.06148 44.9952C1.04703 45.0936 1.17982 46.3553 1.23673 46.5995C1.2648 46.7331 1.33113 46.6464 1.34439 46.7161C1.66092 48.3804 2.03214 50.0222 2.46472 51.6803C2.47145 51.7097 2.37496 51.6899 2.39191 51.7589C2.6289 52.7222 2.93091 53.2987 3.26081 54.0452C3.59298 54.7916 3.81184 55.3994 3.85698 55.9034C4.1069 56.4663 4.40809 57.3041 4.59171 57.7815C4.77468 58.2596 4.96184 58.2487 4.98397 58.2873C5.70399 59.4882 6.00566 60.2401 6.74605 61.4876C7.09641 62.0826 7.87221 63.2088 8.32682 63.8007C8.68308 64.2699 8.86429 64.5779 9.21688 64.9922C9.26463 65.0482 9.27889 64.9431 9.29494 64.959C9.73881 65.3791 9.4149 65.2646 9.46637 65.3836C9.65602 65.8128 9.78294 66.0757 10.3327 66.6319C10.4598 66.761 11.0038 66.9779 11.2336 67.2071C11.5331 67.5063 11.3545 67.4537 11.674 67.7623C11.7015 67.7885 11.7385 67.743 11.9249 67.9428C12.791 68.8692 13.7716 69.8501 14.7784 70.7036C14.9158 70.8202 14.8008 70.5995 15.0003 70.7661C15.9365 71.5473 16.9939 72.3631 17.9455 73.0766C18.1797 73.2525 17.9918 73.2018 18.033 73.2539C18.2888 73.5744 18.8468 73.7373 18.9249 73.7835C20.7969 74.8924 22.1894 75.8325 24.244 76.6859C24.3562 76.7342 25.2793 76.9359 25.6038 77.233C25.6256 77.2532 25.9481 77.5566 26.3281 77.5831C26.3517 77.5845 26.1418 77.417 26.5565 77.5826C26.9726 77.7484 27.6628 77.9347 28.22 78.2091C28.3959 78.296 28.7879 78.59 29.3815 78.6281C29.4211 78.6325 30.3577 78.5927 30.6167 78.8609C30.6588 78.9043 30.5536 79.1003 31.2534 79.1561C31.387 79.1657 31.1639 79.0659 31.5098 79.1156C32.04 79.191 32.721 79.39 33.382 79.4114C33.4977 79.4155 33.999 79.3569 34.3679 79.5221C34.4254 79.5479 34.3005 79.6006 34.5023 79.6386C35.4634 79.8194 36.4931 79.8847 37.4804 80.0028C37.8318 80.0437 37.6437 80.1459 38.0116 80.1984C38.3808 80.2516 39.1192 80.3092 39.5086 80.263C39.8965 80.217 39.477 80.0308 40.055 80.0217C40.1291 80.0202 40.2034 80.0187 40.2776 80.0172C40.2776 80.0172 40.2776 80.0172 40.2776 80.0172C42.7037 79.9652 45.1143 79.846 47.5061 79.4156C47.8703 79.3487 47.5574 79.3442 48.0908 79.2368C50.076 78.8672 53.3725 77.7805 55.0321 77.2159C56.3685 76.7793 54.7714 77.5393 55.78 77.1633C56.2687 76.9782 56.6912 76.5512 56.8007 76.4925C57.8755 75.9143 58.6684 75.6053 59.613 75.0395C59.8071 74.922 59.5717 74.958 59.7368 74.8587C60.2992 74.5187 60.9093 74.1911 61.4344 73.8443C61.6695 73.6884 61.5902 73.662 61.8092 73.5237C62.3318 73.191 62.7983 72.8999 63.3239 72.593C63.3719 72.5648 63.1183 72.8504 63.4922 72.5811C64.0961 72.1446 64.8663 71.6212 65.484 71.0208C65.6668 70.8418 65.5786 70.7241 66.0583 70.4436C66.158 70.3839 66.1694 70.6171 66.5415 70.0761C66.6072 69.9861 67.248 69.1104 67.7119 68.8371C67.8353 68.7659 68.1903 68.6201 68.3882 68.3841C68.4145 68.3519 68.2412 68.4149 68.4124 68.2278C69.016 67.5689 69.6512 66.8812 70.2234 66.1639C70.3756 65.9721 70.0781 66.1978 70.306 65.9137C70.9324 65.1333 71.7081 64.1537 72.2902 63.3657C72.5051 63.0753 72.4185 63.3191 72.4397 63.302C72.782 63.0232 72.7855 62.7215 72.8551 62.6002C73.2896 61.8429 73.706 61.3181 74.0948 60.6139C74.2017 60.4193 74.0549 60.5161 74.071 60.4744C74.2401 60.0442 74.1923 60.4097 74.3494 60.1653C74.7894 59.4784 75.2044 58.6735 75.5532 57.9268C75.6804 57.6532 75.4521 57.9194 75.5665 57.6747C76.2405 56.2243 76.8676 54.6795 77.4042 53.213C77.5054 52.9361 77.5139 53.1339 77.5482 53.0805C77.7879 52.7101 77.8211 52.0705 77.8462 51.93C77.9627 51.2892 78.0877 51.0604 78.2179 50.5026C78.8661 47.78 79.3441 44.348 79.4008 41.7016C79.4084 41.4377 79.4136 41.1777 79.4164 40.9209C79.4363 37.8392 79.2129 35.3114 78.5496 32.3441C78.5027 32.1401 78.4584 32.3663 78.4166 32.1911C77.8784 29.9336 77.2057 27.7392 76.2696 25.6083C76.1925 25.4334 76.2201 25.721 76.0933 25.4422C75.8324 24.8704 75.5039 24.1515 75.245 23.57C75.1187 23.2869 75.3724 23.6248 75.2433 23.3403C74.9418 22.6781 74.5767 21.9883 74.19 21.3485C74.025 21.0769 74.1881 21.536 73.9794 21.1806C72.5477 18.7632 70.8912 16.5508 69.0503 14.3812C68.9239 14.233 68.9414 13.9813 68.6277 13.7046C68.5693 13.7172 68.5274 13.7599 68.4787 13.7878C65.618 10.8589 62.3914 8.32765 58.7696 6.37212C58.6171 6.2902 58.8351 6.51636 58.5399 6.35895C56.8244 5.45083 55.0937 4.71896 53.253 3.96872C53.0701 3.89548 53.2229 3.76459 52.6615 3.60364C52.5631 3.57343 51.718 3.32903 51.4908 3.30307C51.4598 3.29978 51.5899 3.42124 51.3193 3.34378C49.7416 2.89236 48.0755 2.49939 46.4632 2.19575C46.2024 2.14675 46.4947 2.10646 46.3087 2.07105C44.9946 1.82125 43.5389 1.74148 42.2602 1.60279C41.4091 1.51302 41.7305 1.38121 41.2762 1.22291C41.2119 1.19999 40.6752 1.18807 40.6477 1.10462C40.5774 0.892522 40.8431 0.663855 40.7375 0.43741C40.7203 0.399155 40.2778 0.419465 40.2776 0.378249L-nan -nanL40.2776 0.920898L-nan -nanL40.2776 0.378222C40.2776 0.365929 40.3161 0.347929 40.4154 0.321555C40.446 0.313018 40.9799 0.2793 41.112 0.243167C41.2041 0.217582 41.0407 0.12857 41.2285 0.0974448C41.4166 0.0666655 41.6197 0.143708 41.93 0.114536C42.2415 0.0862892 42.1055 -0.0199516 42.7302 0.00326467ZM5.4782 59.9167C5.63666 60.3734 5.93161 60.2876 5.6212 59.8742C5.60595 59.8543 5.46995 59.8933 5.4782 59.9167ZM17.2132 8.62124C16.6295 8.87729 16.4069 9.29095 16.8183 9.111C17.229 8.93402 17.3905 8.54434 17.2132 8.62124ZM22.6975 5.22365C21.9972 5.45714 22.0909 5.88633 22.7451 5.46159C22.7832 5.43725 22.7384 5.21023 22.6975 5.22365ZM43.4075 1.29087C43.4014 1.28596 43.017 1.25406 43.0074 1.25781C42.7966 1.3378 43.5635 1.40096 43.4075 1.29087ZM28.6251 2.76253C28.3909 2.7723 27.783 3.038 28.0755 3.01876C28.3101 3.00194 28.9164 2.74838 28.6251 2.76253ZM23.045 76.9824C23.0498 76.9899 23.2987 77.1123 23.3045 77.087C23.3217 77.0059 22.9644 76.8608 23.045 76.9824ZM39.3859 1.03849C37.7802 1.06649 36.7612 0.800729 38.5379 0.738892C38.8573 0.731364 37.855 0.883044 38.2631 0.895002C39.0051 0.917445 39.4961 0.684709 40.2635 0.800697C40.4007 0.820436 39.4762 1.03538 39.383 1.03904C39.384 1.03886 39.3849 1.03867 39.3859 1.03849ZM5.29652 60.3312C5.29734 60.3417 5.48293 60.6792 5.49128 60.685C5.67593 60.8193 5.3027 60.1413 5.29652 60.3312ZM38.6593 81.0319C38.6795 81.0435 39.575 81.0766 39.605 81.067C40.073 80.9245 38.2696 80.8591 38.6593 81.0319ZM0.45682 35.2535C0.420301 34.8247 0.489955 34.3177 0.666064 34.0069C0.588104 34.4192 0.521204 34.839 0.45682 35.2535Z" fill="white"/>
                      </svg>

                      <div class="save-price--badge__text">
                        <span>SAVE</span>
                        <span>{{ savings }}</span>

                        <span>TODAY</span>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- when 'banner_block_product_2' -%}
            {% assign product = block.settings.select_product %}

            <div class="banner-card banner-card__product" {{ block.shopify_attributes }}>
              <div class="banner-card__image">
                {% if block.settings.image != blank %}
                  {% render 'responsive-img' with image: block.settings.image %}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>

              {%- if product != blank -%}
                <div class="banner-card__content color-{{ block.settings.color_scheme }}" style=" --color-accent: {{ block.settings.color_accent.red }},{{ block.settings.color_accent.green }},{{ block.settings.color_accent.blue }};">
                  <div class="banner-card__inner">
                    <h3 class="banner-card__product-title">{{ product.title }}</h3>

                    {% render 'price',
                      product: product,
                      price_class: 'banner-card__product__price',
                      show_compare_at_price: true,
                      show_save: false
                    %}

                    {% render 'add-to-cart',
                      product: product,
                      section_id: section.id,
                      class: 'button button--primary'
                    %}
                  </div>

                   {%- if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price -%}
                    {%- assign savings = product.selected_or_first_available_variant.compare_at_price
                      | minus: product.selected_or_first_available_variant.price
                      | times: 100.0
                      | divided_by: product.selected_or_first_available_variant.compare_at_price
                      | round
                      | append: '%'
                    -%}

                    <div class="save-price--badge-bottom">
                      <svg width="87" height="86" viewBox="0 0 87 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M41.8462 1.19897C42.4349 0.267215 43.7946 0.267214 44.3833 1.19897L47.436 6.03101C48.2332 7.29266 49.9511 7.5797 51.1147 6.64526L55.5708 3.06616C56.4301 2.37603 57.716 2.81699 57.9702 3.8894L59.2886 9.45093C59.6329 10.9032 61.1647 11.7324 62.5688 11.2263L67.9458 9.28784C68.9825 8.91424 70.0543 9.7488 69.9468 10.8455L69.3882 16.5339C69.2423 18.0193 70.4222 19.3008 71.9146 19.2781L77.6294 19.1912C78.7313 19.1744 79.4749 20.3118 79.0171 21.3142L76.6411 26.5134C76.0211 27.8707 76.7207 29.4653 78.1392 29.9285L83.5728 31.7019C84.6205 32.0438 84.9545 33.3615 84.1958 34.1609L80.2612 38.3064C79.2338 39.3889 79.3774 41.1245 80.5688 42.0232L85.1323 45.4646C86.0122 46.1281 85.9002 47.4821 84.9233 47.9919L79.855 50.6355C78.5318 51.3258 78.1047 53.0149 78.9399 54.2517L82.1382 58.988C82.755 59.9014 82.2094 61.1465 81.1196 61.3113L75.4683 62.1658C73.9926 62.389 73.04 63.8468 73.4282 65.2878L74.9155 70.8064C75.2023 71.8706 74.282 72.8706 73.1978 72.6726L67.5757 71.6462C66.1074 71.3782 64.7329 72.4481 64.6323 73.9373L64.2466 79.6394C64.1723 80.739 62.9773 81.3866 62.0161 80.8474L57.0317 78.0505C55.7301 77.3202 54.0821 77.8857 53.5034 79.2615L51.2876 84.53C50.8603 85.5459 49.5206 85.7691 48.7866 84.947L44.98 80.6833C43.986 79.57 42.2435 79.57 41.2495 80.6833L37.4429 84.947C36.7089 85.7691 35.3692 85.5459 34.9419 84.53L32.7261 79.2615C32.1474 77.8857 30.4994 77.3202 29.1978 78.0505L24.2134 80.8474C23.2522 81.3866 22.0572 80.739 21.9829 79.6394L21.5972 73.9373C21.4966 72.4481 20.1221 71.3782 18.6538 71.6462L13.0317 72.6726C11.9475 72.8706 11.0271 71.8706 11.314 70.8064L12.8013 65.2878C13.1895 63.8468 12.2369 62.389 10.7612 62.1658L5.10986 61.3113C4.02011 61.1465 3.47449 59.9014 4.09131 58.988L7.28955 54.2517C8.12481 53.0148 7.6977 51.3258 6.37451 50.6355L1.30615 47.9919C0.329325 47.4821 0.217319 46.1281 1.09717 45.4646L5.66064 42.0232C6.85213 41.1245 6.9957 39.3889 5.96826 38.3064L2.03369 34.1609C1.27495 33.3615 1.60898 32.0438 2.65674 31.7019L8.09033 29.9285C9.50882 29.4653 10.2084 27.8707 9.58838 26.5134L7.2124 21.3142C6.75459 20.3118 7.49818 19.1744 8.6001 19.1912L14.3149 19.2781C15.8073 19.3008 16.9872 18.0193 16.8413 16.5339L16.2827 10.8455C16.1752 9.7488 17.247 8.91424 18.2837 9.28784L23.6606 11.2263C25.0648 11.7324 26.5966 10.9032 26.9409 9.45093L28.2593 3.8894C28.5135 2.81699 29.7994 2.37603 30.6587 3.06616L35.1147 6.64526C36.2784 7.5797 37.9963 7.29266 38.7935 6.03101L41.8462 1.19897Z" fill="#FF0000" stroke="black"/>
                      </svg>

                      <div class="save-price--badge__text">
                        <span>SAVE</span>
                        <span>{{ savings }}</span>

                        <span>TODAY</span>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- when 'banner_block' -%}
            <div class="banner-card" {{ block.shopify_attributes }}>
              <div class="banner-card__image">
                {% if block.settings.image != blank %}
                  {% render 'responsive-img' with image: block.settings.image %}
                {% else %}
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                {% endif %}
              </div>

              <div class="banner-card__content color-{{ block.settings.color_scheme }}" style=" --color-accent: {{ block.settings.color_accent.red }},{{ block.settings.color_accent.green }},{{ block.settings.color_accent.blue }};">
                <div class="banner-card__inner">
                  <h3 class="banner-card__title">{{ block.settings.heading }}</h3>

                  {%- if block.settings.sub_heading != blank -%}
                    <p class="banner-sub_heading">
                      {{ block.settings.sub_heading }}
                    </p>
                  {%- endif -%}
                  {%- if block.settings.text != blank -%}
                    <p class="banner-card__text rte">
                      {{ block.settings.text }}
                    </p>
                  {%- endif -%}

                  {%- if block.settings.button_text != blank -%}
                    <a
                      href="{{ block.settings.button_url }}"
                      class="button  button--{{ block.settings.button_style }}"
                    >
                      <span class="button--text">{{- block.settings.button_text -}}</span>
                    </a>
                  {%- endif -%}
                </div>
              </div>
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Collage grid",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
        {
      "type": "checkbox",
      "id": "enable_divider",
      "default": true,
      "label": "Enable divider"
    },
     {
      "type": "color",
      "id": "divider_color",
      "default": "#DDDCD5",
      "label": "Divider color"
    },
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full Width"
        }
      ],
      "default": "container-fluid",
      "label": "Layout Width"
    },
     {
      "type": "text",
      "id": "pre_text",
      "label": "Pre text",
      "default": "Collage grid"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Section Heading",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enabled",
      "label": "Enable Auto Play",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Chnage Time",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "loop_enabled",
      "label": "Enable Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_pagination_mobile",
      "label": "Enable Pagination Mobile Only",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "label": "Enable Naviagtion",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_navigation_desktop",
      "label": "Enable Naviagtion Desktop Only",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_swiper",
      "label": "Swiper Navigation",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_card",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_top_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_bottom_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 56
    },
    {
      "type": "text",
      "id": "them_section_id",
      "label": "Section Id"
    }
  ],
  "blocks": [
    {
      "type": "banner_block_product",
      "name": "Banner Product Block",
        "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "select_product",
          "label": "Slect product"
        },
         {
          "type": "color",
          "id": "color_accent",
          "label": "Accent Color",
          "default": "#FFCD2E"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    },
    {
      "type": "banner_block_product_2",
      "name": "Banner Product Block 2",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "product",
          "id": "select_product",
          "label": "Slect product"
        },
         {
          "type": "color",
          "id": "color_accent",
          "label": "Accent Color",
          "default": "#FFCD2E"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    },
    {
      "type": "banner_block",
      "name": "Banner Block",
        "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "ENJOY $1 OFF PER POUND"
        },
        {
          "type": "text",
          "id": "sub_heading",
          "label": "Sub heading",
          "default": "USDA Choice & Prime Filets"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "The perfect centerpiece for a memorable Mother’s Day mea"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "primary-outline",
              "label": "Primary outline"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "secondary-outline",
              "label": "Secondary outline"
            }
          ],
          "default": "primary"
        },
           {
          "type": "color",
          "id": "color_accent",
          "label": "Accent Color",
          "default": "#A5A5A5"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collage grid",
      "blocks": [
        {
          "type": "banner_block_product"
        },
        {
          "type": "banner_block_product_2"
        },
        {
          "type": "banner_block"
        }
      ]
    }
  ]
}
{% endschema %}
