{{ 'section-icon-text-blocks.css' | asset_url | stylesheet_tag }}
{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    @media screen and (min-width: 992px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_tab }}px;
        padding-bottom: {{ section.settings.padding_bottom_tab }}px;
      }
  }

    @media screen and (min-width: 1024px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}

<div
  class="icon-text-seciton section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient  isolate {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="{{ section.settings.page_width }}">
    {%- unless section.settings.heading == blank -%}
      <div class="row">
        <div class="section--header text-center col-12 m-auto">
          <h2 class="section--title inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
        </div>
      </div>
    {%- endunless -%}

    <div class="icon-text-wrapper">
      {% assign offset = section.blocks.size | plus: 1 | divided_by: 2 %}

      <div class="icon-text__column">
        {%- for block in section.blocks limit: offset -%}
          {%- case block.type -%}
            {%- when 'icon_text' -%}
              <div class="icon-text__item">
                <div
                  class="icon-text-block  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="icon-text-block__icon">
                    {% if block.settings.image != blank %}
                      {% render 'icon-img' with image: block.settings.image %}
                    {% elsif block.settings.svg_icon != blank %}
                      {{ block.settings.svg_icon }}
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>

                  <div class="icon-text__content">
                    {% if block.settings.title != blank %}
                      <h3 class="icon-text__title">{{ block.settings.title }}</h3>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      <p class="icon-text__text">
                        {{ block.settings.text }}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image_block' -%}
            <div
              class="icon-image-block  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {% if block.settings.image != blank %}
                {% render 'responsive-img' with image: block.settings.image %}
              {% else %}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
      <div class="icon-text__column">
        {%- for block in section.blocks offset: offset -%}
          {%- case block.type -%}
            {%- when 'icon_text' -%}
              <div class="icon-text__item">
                <div
                  class="icon-text-block  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {{ block.shopify_attributes }}
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  <div class="icon-text-block__icon">
                    {% if block.settings.image != blank %}
                      {% render 'icon-img' with image: block.settings.image %}
                    {% elsif block.settings.svg_icon != blank %}
                      {{ block.settings.svg_icon }}
                    {% else %}
                      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                    {% endif %}
                  </div>

                  <div class="icon-text__content">
                    {% if block.settings.title != blank %}
                      <h3 class="icon-text__title">{{ block.settings.title }}</h3>
                    {% endif %}

                    {% if block.settings.text != blank %}
                      <p class="icon-text__text">
                        {{ block.settings.text }}
                      </p>
                    {% endif %}
                  </div>
                </div>
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Icon text Blocks",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full Width"
        }
      ],
      "default": "container-fluid",
      "label": "Layout Width"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Section Heading",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_card",
      "label": "Card color",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 120
    },
    {
      "type": "range",
      "id": "padding_top_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tab",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_bottom_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tab",
      "default": 80
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 48
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 48
    }
  ],
  "blocks": [
    {
      "type": "icon_text",
      "name": "icon text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": " Image"
        },
        {
          "type": "liquid",
          "id": "svg_icon",
          "label": "Svg Icon"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "t:sections.multicolumn.blocks.column.settings.title.default",
          "label": "t:sections.multicolumn.blocks.column.settings.title.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.",
          "label": "t:sections.multicolumn.blocks.column.settings.text.label"
        }
      ]
    },
    {
      "type": "image_block",
      "name": "Image block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": " Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Icon text Blocks",
      "blocks": [
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "image_block"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        },
        {
          "type": "icon_text"
        }
      ]
    }
  ]
}
{% endschema %}
