{{ 'section-shop-by-category.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top_mobile }}px;
    padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
  }
  @media screen and (min-width: 992px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_tab }}px;
      padding-bottom: {{ section.settings.padding_bottom_tab }}px;
    }
  }
  @media screen and (min-width: 1024px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}
 

   {% liquid
      assign desktop_column =  6.5
      assign tab_column = 4.3
      assign mobile_column = 3.3

      assign enable_pagination = section.settings.enable_pagination
      assign enable_navigation = section.settings.enable_navigation
      assign autoplay = section.settings.autoplay_enabled
      assign loop = section.settings.loop_enabled
      assign delay = section.settings.autoplay_timeout | times: 1000
      assign freemode = false
    %}

<section
  id="{{ section.settings.them_section_id | escape }}"
  class="shop-by-category section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient"
>
  <slideshow-swiper> 
  {%- unless section.settings.heading == blank -%}
     <div class="{{ section.settings.page_width }}">
      <div class="row">
        <div class="section--header  section--header__flex text-left col-12 m-auto">
          <div class="section--header__inner">
            {% if section.settings.pre_text != blank %}
          <p class="section--pre-text">{{ section.settings.pre_text }}</p>
        {% endif %}

          <h2 class="section--title inline-richtext {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
          </h2>
          </div>

                {% if enable_navigation %}
          <div class="swiper-navigation-flex color-{{ section.settings.color_scheme_swiper }}">
            <div class="swiper-button-prev">
             <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.1667 4C11.4428 4 11.6667 4.22387 11.6667 4.5C11.6667 4.77613 11.4428 5 11.1667 5H5V8.5C5 8.70226 4.8782 8.88453 4.69133 8.96193C4.50453 9.03933 4.28945 8.9966 4.14645 8.8536L0.146447 4.8536C0.05268 4.7598 0 4.6326 0 4.5C0 4.3674 0.05268 4.2402 0.146447 4.14646L4.14645 0.14646C4.28945 0.00345997 4.50453 -0.0393134 4.69133 0.0380733C4.8782 0.115467 5 0.297787 5 0.500013V4H11.1667Z" fill="currentColor"/>
                  </svg>

            </div>
            <div class="swiper-button-next">
              <svg width="12" height="9" viewBox="0 0 12 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.500082 4C0.223948 4 8.2016e-05 4.22387 8.2016e-05 4.5C8.2016e-05 4.77613 0.223948 5 0.500082 5H6.66675V8.5C6.66675 8.70226 6.78855 8.88453 6.97542 8.96193C7.16222 9.03933 7.3773 8.9966 7.5203 8.8536L11.5203 4.8536C11.6141 4.7598 11.6667 4.6326 11.6667 4.5C11.6667 4.3674 11.6141 4.2402 11.5203 4.14646L7.5203 0.14646C7.3773 0.00345997 7.16222 -0.0393134 6.97542 0.0380733C6.78855 0.115467 6.66675 0.297787 6.66675 0.500013V4H0.500082Z" fill="currentColor"/>
                </svg>

            </div>
          </div>
        {% endif %}
        </div>
      </div>
       </div>
    {%- endunless -%}



  <div class="slideshow__swiper swiper" 
        data-centeredslides="true"
        data-slidesDesktop="{{desktop_column}}"
        data-slidesTab="{{tab_column}}"
        data-slidesMobile="{{mobile_column}}"
        data-autoPlay="{{ autoplay }}"
        data-delay="{{ delay }}"
        data-loop="{{ loop }}"
        data-freemode="{{ freemode }}"
        data-freemomentum="false"
        data-mousewheel="false"
        data-desktopspace="16"
        data-tabspace="16"
        data-mobilespace="16">
    <div class="swiper-wrapper  shop-by-category__slider-wrapper"  >
      {% for block in section.blocks %}
        {% if block.type == 'category_item' %}

          <div class="swiper-slide">
 
            <a class="shop-by-category__card {% if forloop.index == section.settings.active_index %} is-active{% endif %}"
            href="{{ block.settings.link | default: '#' }}"
            {{ block.shopify_attributes }}
          >
            <div class="shop-by-category__card-image">
              {% if block.settings.image != blank %}

                       {% render 'icon-img' with image: block.settings.image %}


           
              {% else %}
               {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {% endif %}

              {% if forloop.index == section.settings.active_index %}
                <span class="shop-by-category__card-arrow" aria-hidden="true">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3 13L13 3M13 3H5M13 3V11" stroke="white" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
              {% endif %}
            </div>

            <p class="shop-by-category__card-title">{{ block.settings.title }}</p>
          </a>
           </div>
        {% endif %}
      {% endfor %}
    </div>
     {% if enable_pagination   %}
          <div class="pagination-wrap  color-{{ section.settings.color_scheme_swiper }}">
            <div class="swiper-pagination"></div>
          </div>
        {% endif %}
  </div>
  </slideshow-swiper>
</section>

 

{% schema %}
{
  "name": "Shop By Category",
  "tag": "section",
  "class": "shop-by-category-section",
  "settings": [
        {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full Width"
        }
      ],
      "default": "container-fluid",
      "label": "Layout Width"
    },
    {
      "type": "text",
      "id": "pre_text",
      "label": "Pre text",
      "default": "SHOP BY CATEGORY"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Our Categories",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
      {
      "type": "header",
      "content": "Slider Settings"
    },
    {
      "type": "checkbox",
      "id": "autoplay_enabled",
      "label": "Enable Auto Play",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_timeout",
      "label": "Chnage Time",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 5,
      "unit": "s"
    },
    {
      "type": "checkbox",
      "id": "loop_enabled",
      "label": "Enable Loop",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_pagination",
      "label": "Enable Pagination",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_navigation",
      "label": "Enable Naviagtion",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_swiper",
      "label": "Swiper Navigation",
      "default": "scheme-2"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_top_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_bottom_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 56
    },
    {
      "type": "text",
      "id": "them_section_id",
      "label": "Section Id"
    }
  ],
  "blocks": [
    {
      "type": "category_item",
      "name": "Category Item",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Category image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Category name",
          "default": "Beef"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop By Category",
      "blocks": [
        { "type": "category_item", "settings": { "title": "Gifts under $100" } },
        { "type": "category_item", "settings": { "title": "Beef" } },
        { "type": "category_item", "settings": { "title": "Ribeye" } },
        { "type": "category_item", "settings": { "title": "Wagyu" } },
        { "type": "category_item", "settings": { "title": "Family Packs" } },
        { "type": "category_item", "settings": { "title": "Holiday Favorites" } }
      ]
    }
  ]
}
{% endschema %}