{{ 'section-about-us.css' | asset_url | stylesheet_tag }}


{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
    @media screen and (min-width: 992px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top_tab }}px;
        padding-bottom: {{ section.settings.padding_bottom_tab }}px;
      }
  }

    @media screen and (min-width: 1024px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
{%- endstyle -%}



<div
  id="{{ section.settings.them_section_id |  default:"about-us-section" }}"
  class="about-us-section section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} gradient  {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  {% if settings.animations_reveal_on_scroll %}
    data-cascade
  {% endif %}
>
  <div class="{{ section.settings.page_width }}">
     
  </div>
</div>

{%- if section.settings.enable_divider -%}
  <div class="{{ section.settings.page_width }}">
    <div class="section-divider" style="--divider-color: {{ section.settings.divider_color }}"></div>
  </div>
{%- endif -%}
{% schema %}
{
  "name": "About us",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_divider",
      "default": true,
      "label": "Enable divider"
    },
    {
      "type": "color",
      "id": "divider_color",
      "default": "#DDDCD5",
      "label": "Divider color"
    },
    {
      "type": "select",
      "id": "page_width",
      "options": [
        {
          "value": "container",
          "label": "Container"
        },
        {
          "value": "container-fluid",
          "label": "Full Width"
        }
      ],
      "default": "container-fluid",
      "label": "Layout Width"
    },
    {
      "type": "text",
      "id": "pre_text",
      "label": "Pre text",
      "default": "Collage grid"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Section Heading",
      "label": "t:sections.multicolumn.settings.title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "hxl",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "hxxl",
          "label": "t:sections.all.heading_size.options__5.label"
        }
      ],
      "default": "h1",
      "label": "t:sections.all.heading_size.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_card",
      "label": "t:sections.all.colors.label",
      "default": "scheme-2"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Desktop",
      "default": 76
    },
    {
      "type": "range",
      "id": "padding_top_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_bottom_tab",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Tab",
      "default": 68
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Top Mobile",
      "default": 56
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Padding Bottom Mobile",
      "default": 56
    },
    {
      "type": "text",
      "id": "them_section_id",
      "label": "Section Id"
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Card Block",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "color",
          "id": "color_accent",
          "label": "Accent Color",
          "default": "#FFCD2E"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "limit": 1,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "image_link",
          "label": "Image url"
        }
      ]
    },
    {
      "type": "text_block",
      "name": "Text Block",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Heading",
          "default": "Roseville Meat Company.  A modern day, old fashioned meat market"
        },
      
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "As a local, family-owned business, we offer an extensive line of beef, pork, poultry, lamb, veal, marinated products, and exotic meats such as buffalo and venison."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button",
          "default": "Button Label"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "Button style",
          "options": [
            {
              "value": "primary",
              "label": "Primary"
            },
            {
              "value": "primary-outline",
              "label": "Primary outline"
            },
            {
              "value": "secondary",
              "label": "Secondary"
            },
            {
              "value": "secondary-outline",
              "label": "Secondary outline"
            }
          ],
          "default": "primary"
        },
        {
          "type": "color",
          "id": "color_accent",
          "label": "Accent Color",
          "default": "#A5A5A5"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "default": "scheme-1"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "About us",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "card_block"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
